<!-- Bottom nav -->
<nav class="bottom-nav">
  <div class="nav-inner">
    <a href="/index.html" class="nav-item">
      <i class="bi bi-house"></i>
    </a>

    <a href="/web/projects.html" class="nav-item">
      <i class="bi bi-grid"></i>
    </a>

    <a href="/web/about.html" class="nav-item">
      <i class="bi bi-person"></i>
    </a>

    <a href="/web/contact.html" class="nav-item">
      <i class="bi bi-envelope"></i>
    </a>

    <a
      href="https://github.com/Jiraphat99"
      class="nav-item"
      target="_blank"
      rel="noopener"
    >
      <i class="bi bi-github"></i>
    </a>

    <a
      href="https://gitlab.com/"
      class="nav-item"
      target="_blank"
      rel="noopener"
    >
      <i class="bi bi-gitlab"></i>
    </a>
  </div>
</nav>
